nav a {
    background-color: rgb(160, 30, 30) !important;
    border-radius: 5px;
}

.btn-danger {
    background-color: rgb(160, 30, 30) !important;
    border: none !important;
    outline: none !important;
}

.card {
    border-radius: 15px;
}

.card img {
    border-radius: 15px 15px 0 0;
}

